table{
    margin: auto ;
    border-collapse: collapse; width: 60%;
}

td, th {
        width: 45px;
        height: 75px;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
    }

td{
    background-color: black;
}
th{
    background-color: yellow;
    border: 1px solid yellow;
}

.trang{
    background-color: white;
}