body{
    background-color: #FFFFCC;
    font-family: Arial, sans-serif;
    
}
h2{
    background-color: #CCFFFF;
    color: blue;
    text-align: center;
}

#ipp,.ip,#lbl,#lab,#lbl1{
  left: 100px;
  position: absolute;
}
#ipp{
  width: 300px;
  height: 30px;
}

#lbl{
  left: 124px;
  
}

#lab{
  left: 164px;
  
}

#lbl1{
  left: 188px;
  
}