table{
    margin: auto ;
}

td #display{
        height: 50px;
        text-align: center;
        font-size: xx-large;
    }

input{
    height: 75px;
    width: 100%;
    font-size: 55px;
}

#tong{
    background-color: rgb(0, 106, 255);
}